<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">
<body>
  <div id="recoveryForm">
    <div id="recoveryItems">
      <div id="passRecoveryTitle">
          <p class="title is-3">Restablecer Contraseña</p>
        </div>
        <form action="<%= passwordModifyPath %>" method="POST">
          <div class="field">
              <input type="password" name="password" value="" placeholder="Nueva Contraseña">
          </div>
          <input type="hidden" name="token" value="<%= token %>">
          <div class="field-submit">
              <input type="submit" value="Guardar">
          </div>
        </form>
      </div>
  </div>
</body>