<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">
<body>
  <div class="container">
    <div id='passRecoveryTitle'>
      <p>Reestablecer Contraseña</p>
    </div>
    <form action="<%= passwordRecoverySendPath %>" method="POST">
      <% if (message) {%>
        <p> <%=message%></p>
      <%}%>
      <div class="field">
          <input type="text" name="email" value="">
      </div>
      <div class="field">
          <input type="submit" value="Enviar correo">
      </div>
    </form>
  </div>
</body>