<div class="container">
    <br>
    <section class="hero is-success">
        <div class="hero-body">
          <div class="container">
            <h1 class="title"> Tests vocacionales </h1>
          </div>
        </div>
      </section>
      <br>  
  </div>  

<div class="container">
    <div class="columns is-desktop is-multiline">
        <% testsList.forEach((poll) => { %>
            <div class="column is-3">
                <div class="card">
      
                  <div class="card-content">
                    <div class="media">      
                      <div class="media-content">
                        <p class="title is-5"><%- poll.name %></p>                        
                      </div>
                    </div>
      
                  <div class="content">
                      <%- poll.description %>
                      <br>
                  </div>
                  <a href="<%- testVocacionalPath(poll) %>">Ir a test vocacional</a>
                  
                </div>
              </div>
            </div>
        <% }); %>
    </div>  
  </div>
</body>
