<div class="container">
    <br>
    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Editar Carrera </h1>
          
        </div>
      </div>
    </section>
  
<%- include('_form') %>

<a href="<%= universitiesPath %>">Volver a listado de universidades</a>
</div>