<div class="container">

<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> Nueva carrera </h1>
        
      </div>
    </div>
  </section>

<br />
<%- include('_form') %>

<a href="<%= universitiesPath %>">&larr; Ir al listado de todas las universidades</a>

</div>