<!-- Esta vista se renderea por show.html.ejs -->

<% if (currentUser && currentUser.admin && !userIsStaff) { %>
    <p class="title is-5">Eres administrador</p>
<% } else { %>
    <p class="title is-5">Eres staff de esta universidad</p>
<% } %>

<a class="button is-light" href="<%= universityEditPath(university) %>">Editar</a>
<a class="button is-light" href="<%= newCareerPath(university) %>">Añadir carrera</a>
