<div class="container">
    <div id="search-component">
        <p style="display: flex;position: relative;left:38%;top:150px;font-size: x-large;text-align: center;">Se está procesando su búsqueda ... </p>
        <div class="lds-ring" id="anillo">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>    
    </div>
</div>