<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="<%= exp.user.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1588796979/users-images/user-no-image_qdtjjb.jpg'%>" alt="Placeholder image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= exp.user.name %></strong>
          <br>
          <%= exp.description %> 
        </p>
        <div class="level-right" >
          <p style="color: rgb(165,165,165);"><%= exp.createdAt %></p>
        </div>

    </div>
  </article>
</div>
