  
  #reply-button {
      width: 27px;
      height: 27px;
      border-radius: 30px !important;
      padding: 0px;
      line-height: 27px;
      font-size: .75em;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      position: relative;
      display: table;
      border: 1px solid #999;
  }
  
  #reply-button:hover {
      background-color: #e5e5e5;
      background-image: none;
      border-color: #adadad;
  }
  
  #reply-button:active {
    transform: perspective(1px) translateZ(-.04px);
  }
  
  
  .switch {
      position: absolute;
      margin-left: 60px;
      margin-top: 5px;
      display: inline-block;
      width: 72px;
      height: 40px;
      cursor: pointer;
      transform: scale(0.4);
      -ms-transform: scale(0.4);
      -webkit-transform: scale(0.4);
  }
  .switch .switch-toggle {
    cursor: pointer;
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    transition: background-color .25s ease;
    padding: 1px;
    border-radius: 30px;
    background-color: #bec2c9;
  }
  .switch a {
    cursor: pointer;
  }
  .switch input[type=checkbox], .switch input[type=radio] {
    margin-right: 4px;
    box-sizing: border-box;
    padding: 0;
  }
  .switch .switch-control {
    opacity: 0;
    visibility: hidden;
  }
  .switch .switch-control:checked + .switch-toggle .switch-handle {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #fff;
  }
  .switch .switch-control:checked {
    pointer-events: none;
  }
  .switch .switch-control, .switch .switch-toggle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .switch label {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
  }
  .switch .switch-handle {
    -webkit-transition: -webkit-transform .25s ease;
    -moz-transition: -moz-transform .25s ease;
    transition: transform .25s ease;
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 0;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
  }
  .switch .switch-handle span {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 33px;
    color: #43547d;
    text-align: center;
  }
  .switch .fa {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    margin-top: 7px;
    margin-right: 1px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
  .switch-facebook .switch-control:checked + .switch-toggle {
    background-color: #3b5998;
  }
  
  .tooltiptext {
      visibility: hidden;
      width: 50px;
      background-color: #343436;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      position: absolute;
      left: 130%;
      z-index: 1;
      opacity: 0;
      transition: opacity .8s;
  }
  
  .tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #343436 transparent transparent;
  }
  
  #reply-button:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
      pointer-events: none;
  }
  
 
  #replytext {
      width: 85%;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      margin-left: 7px;
  }
  
  #replybubble {
      padding-left: 0;
      list-style: none;
      margin-top: 27px;
  }
  
  #reply-messenger-bulle {
      background: rgba(204, 204, 204, 0.7);
      border-radius: 10px;
      padding-left: 10px;
      padding-bottom: 7px;
      padding-top: 4px;
      padding-right: 7px;
      color: #222;
      font-size: .8em;
      display: inline-block;
      margin: 0px 2px;
      max-width: 100%;
      position: relative;
      word-wrap: break-word;
  }
  
  #reply-comment {
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      resize: none;
      padding: 6px 15px;
      width: 315px;
      font-size: 15px;
      margin-top: 27px;
      margin-left: 70px;
      display: block;
      border-radius: 25px;
      outline: none;
      border: 1px solid #bec2c9;
  }
  
  #reply-profpicture {
      position: absolute;
      margin-left: 19px;
      margin-top: -7px;
      overflow: hidden;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      transform: scale(0.75);
  }
  
  #reply-send {
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      background: rgba(0, 0, 0, 0);
      border: 0;
      width: 30px;
      height: 30px;
      background-image: url(https://s1.postimg.org/61nh2tvfvz/sendbtn.png);
      background-repeat: no-repeat;
      position: absolute;
      margin-left: 385px;
      margin-top: -32px;
      border-radius: 30px;
      transition: all 0.25s ease;
      cursor: pointer;
      outline: none;
      opacity: 0.85;
      transition: opacity .6s;
  }
    
  #reply-send:hover {
      opacity: 1;
  }
  
  #reply-send[disabled=disabled], #reply-send:disabled {
     pointer-events:none;
     display:none;
  }
  
  #reply {
     display: none;
  }
  
  
  
  @keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  #reply-logintopost {
      position: relative;
      background: rgba(0, 0, 0, 0);
      color: #365899;
      width: 300px;
      -webkit-transition: all .15s;
      transition: all .15s;
      overflow: hidden;
      margin-top: 0px;
      margin-left: 85px;
      display: none;
      -ms-transform: scale(0.8); /* IE 9 */
      -webkit-transform: scale(0.8); /* Safari */
      transform: scale(0.8);
  }
  
  #reply-loginbtn {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 150px;
    height: 35px;
    background: #0084ff;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.7s ease;
  }
  
  #reply-loginbtn::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background: #0084ff;
    z-index: -1;
    animation: pulse 1.2s ease infinite;
  }
  
  #reply-loginbtn:hover {
    background: #365899;
  }
  
  #reply-loginbtn:hover::before {
    background: #365899;
  }
  
  #reply-logintext {
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
  }