.profile-image-div {
  max-width: 400px;
  display: inline-block;
  margin-top: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  
  img {
   min-width: 200px;
   vertical-align: top;
  }
}
.profile-image-div:hover img {
  opacity: 0.3;
  cursor: pointer;
}

.profile-image>input {
  display: none;
}

#confirm-pass {
  display: none;
}
.profile-card {
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 5px;
  
  #user-type p {
    padding-bottom: 10px;
  }

  .edit-user-fields p {
    color: red;
  }
  .edit-button {
    input {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
  }
  .profile-edit-title {
    font-size: 30px;
    border-bottom: solid 1px;
    margin-bottom: 10px;

  }

  .university {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .edit-button:hover, a:hover {
    opacity: 0.7;
  }

  h1 {
    font-size: 30px;
    color: black;
  }
}


#universityImage {
  display: none;
}

#universityLogo {
  display: none;
}

.universityImageDiv {
  max-width: 200px;
}

.universityImageDiv:hover img {
  cursor: pointer;
  opacity: 0.3;
}

.menu {
  background:floralwhite;
  width: 20%;
  border: 1px solid black;
  padding: 5px;
  padding-top:20px;
  height: 100%;
  position: fixed;

}

#recoveryForm {
  text-align: center;
  .field input {
    width: 100%;
  }
  .field-submit input {
    width: 33%;
    text-align: center;
  }
}

#recoveryItems {
  display: inline-block;
  .error-message {
    color: red;
  }
}
#passRecoveryTitle {
  margin: 3% auto;
}

#forgotPassword {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#forgotPassword:hover {
  opacity: 0.7;
}


#galleryImage {
  max-width: 20%;
  height: 100%;
  border: 1px solid rgb(185, 183, 183);
}

#galleryImages {
  display: flex;
}

#galleryVideos {
  display: flex;
}

.titlep {
  font-weight: bold;
  font-size: 25px;
}

.linka {
  font-weight: bold;
  font-size: 20px;
}

.selector {
  font-weight: bold;
  font-size: 20px;
  margin: 1% 0;
}

.media-inputs {
  margin: 1% 0;
  #youtubeInputAlert {
    color: red;
  }

  #youtubeInput {
    width: 50%;
  }
}

.gallery-container {
  max-width: 100%;
  margin: auto;
}

.gallery .gallery-items {
  
}
.gallery .gallery-items .item {
  margin: 0 auto;
  width: 50%;
  height: 100%;

  img {
    margin: 0 auto;
    display: block;
    border: 1px solid rgb(219, 219, 219);
  }
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  button {
  }
}

#go-left {
  background: none;
  border: none;
  margin: 0 1%;
  cursor: pointer;
}

#go-right {
  background: none;
  border: none;
  margin: 0 1%;
  cursor: pointer;
}

#go-to-gallery-button {
  background: none;
  // border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete-div {
  // background-color: blue;
  // text-align: center;
}