<p class="title">Cambio de contraseña</p>

<script>
  function Validate() {
      var password = document.getElementById("1stPassword").value;
      var confirmPassword = document.getElementById("ConfirmPassword").value;
      if (password != confirmPassword) {
          precent
          return false;
      }
      return true;
  };
</script>

<form id="edit-password-form" action="<%= submitPasswordUserPath %>" method="POST">
  <input type="hidden" name="_method" value="post" />
  <div class="edit-user-fields">
      <p id="confirm-pass">Las contraseñas no coinciden</p>
      <label class="label">Nueva contraseña:</label>
      <div class="title">
          <input class="input is-info" type="password" id="firstPassword" name="password" value="" placeholder="Nueva Contraseña"/>
      </div>
      <label class="label">Repetir contraseña:</label>
      <div class="title">
          <input class="input is-info"  type="password" id="confirmPassword" name="confirmPassword" value="" placeholder="Confirmar Contraseña" />
      </div>
      <div class="edit-button">
          <input class="button" type="submit" name="submit" value="Cambiar contraseña" />
      </div>
  </div>
</form>