<p class="title">Cambio de contraseña</p>
<form method="post" id="passwordForm">
    
    <label class="label">Nueva contraseña:</label>
    <input class="input" type="password" placeholder="Nueva contraseña">
    
  <label class="label">Repetir contraseña:</label>
    <input class="input" type="password" placeholder="Repetir contraseña">
    <input class="button" type="submit" value="Cambiar contraseña">
</form>