<aside class="menu">
  <p class="menu-label">
      Perfil
  </p>
  <%  console.log(actual) %>
  <ul class="menu-list">
    <li><a id="personal-item" class="is-active item">Información personal</a></li>
    <li><a id="tests-item" class="item">Tests</a></li>
    <li><a id="password-item" class="item">Contraseña y seguridad</a></li>
  </ul>
  <p class="menu-label">
    Staff
  </p>
  <p><b>Revisar si soy staff de algo</b></p>
  <ul class="menu-list">
    <li><a class="item">Dashboard</a></li>
    <li><a class="item">Usuarios</a></li>
    <li><a class="item">Universidades</a></li>
    <li><a class="item">Carreras</a></li>
  </ul>
  <% if (currentUser && currentUser.admin) { %>
    <p class="menu-label">
        Administrador
    </p>
    <p><b>Agregar info a estas</b></p>
    <ul class="menu-list">
      <li><a id="users-item" class="item">Usuarios</a></li>
      <li><a id="universities-item"class="item">Universidades</a></li>
      <li><a id="careers-item" class="item">Carreras</a></li>
      <li><a id="staff-item" class="item">Staffs</a></li>
    </ul>
  <% } %>
</aside>