<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	[id^="page-"] {
		display: none;
	}
</style>

<% let actual = 'personal' %>
<div class="columns" style="height: 90%;">
    <div class="column is-one-quarter">
        <%- include('menu', {actual: actual}) %>
	</div>
	<div class="column" style="margin-top: 4%">
		<div id="page-personal" style="display: block;">
			<%- include('_personal_info') %>
		</div>
		<div id="page-tests">
			<%- include('_tests_page') %>
		</div>
		<div id="page-password">
			<%- include('_password_page') %>
		</div>
	</div>
</div>